---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

blockquote {
  display: inline;
  margin: 0;
}

a {
  color: blue;
  text-decoration: none;
}

abbr {
  cursor: help;
}

sup, sub {
  position: relative;
}

sup {
  vertical-align: top;
  top: -4px;
}

sub {
  vertical-align: bottom;
  bottom: -4px;
}

pre {
  font: 16px/1.185 'dejavu sans mono', menlo, consolas, 'source code pro', 'cascadia mono', simsun, simkai, kaiti, simhei, '等线', serif;
  white-space: pre;
  width: 100%;
  padding: 25px 10px 10px;
  margin: 0;
  box-sizing: border-box;
}

.brand {
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
}
  
.brand sub {
  font-size: 80%;
  font-family: simsun, simkai, kaiti, simhei, serif;
  position: relative;
  bottom: 0;
}

.tofu {
}

.muted {
  display: inline;
  opacity: .4;
}

.recommend, .hot {
  color: red;
  font-size: 75%;
  position: relative;
  top: -2px;
}

.collapse {
  display: inline;
}
  
.collapse-toggler {
  cursor: pointer;
  color: blue;
  text-decoration: none;
}
    
.collapse-toggler.active {
  font-weight: bold;
}
  
.collapse-body {
  display: none/* inline */;
}
    
.collapse-body.active {
  display: inline;
}

.gallery-open-btn {
  color: blue;
  margin-left: 2px;
  border-bottom: 1px dotted;
  position: relative;
  cursor: pointer;
}
