---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@font-face {
  font-family: 'simkai';
  src: url('/assets/fonts/simkai.ttf');
}

body {
  margin: 0;
  font-family: simkai, simsun, simhei, serif;
  font-size: 18px;
  letter-spacing: -1px;
  line-height: 1;
}

#app {

}

.brand {
  position: fixed;
  z-index: 10000;
  font-family: simsun, simkai, simhei, serif;
  width: 100%;
  padding: 4px 10px;
  background-color: ghostwhite;
  
  sup {
    font-size: 75%;
  }
}

pre {
  /*background: ghostwhite url("/assets/img/bg.png") 80% 100%/400px no-repeat;*/
  background-color: ghostwhite;
  box-sizing: border-box;
  width: 100%;
  padding: 27px 10px 10px;
  margin: 0;
  font-family: menlo, consolas, simkai, simsun, simhei, serif;
  line-height: 1.15;
  white-space: pre;
  overflow: scroll;
}

blockquote {
  display: inline;
  margin: 0;
}

a {
  color: blue;
  text-decoration: none;
  &.has-line {
    border-bottom: 1px dotted;
  }
}

abbr {
  cursor: help;
}

code, .code {
  font-family: menlo, consolas, helvetica, arial, sans-serif;
  font-size: 85%;
  letter-spacing: -0.025rem;
}

dfn {
  cursor: help;
  font-style: normal;
  text-decoration: underline dotted;
}

sup, sub {
  position: relative;
}

sup {
  vertical-align: top;
  top: -4px;
}

sub {
  vertical-align: bottom;
  bottom: -4px;
}

q {
  &:before {
    content: "「";
  }
  
  &:after {
    content: "」";
  }
}

rt {
  position: relative;
  bottom: -2px;
  font-family: helvetica, arial, sans-serif;
  letter-spacing: 0;
  font-size: 60%;
}

mark {
  background-color: beige;
  font-style: italic;
}

.no-ml {
  margin-left: 0!important;
}

.muted {
  display: inline;
  opacity: .4;
}

.recommend, .primary, .hot, .new, .pic {
  cursor: help;
  position: relative;
  top: -2px;
  margin-left: 4px;
  font-size: 65%;
  font-style: normal;
}

.primary {
  color: red;
}

.recommend {
  color: gold;
}

.hot {
  color: tomato;
}

.new {
  color: lime;
}

.pic span {
  padding: 0 3px;
}

.collapse {
  display: inline;
  
  .collapse-toggler {
    cursor: pointer;
    color: blue;
    text-decoration: none;
    
    &.active {
      font-weight: bold;
    }
  }
  
  .collapse-body {
    display: none/* inline */;
    
    &.active {
      display: inline;
    }
  }
}

.gallery-open-btn {
  cursor: pointer;
  position: relative;
  margin-left: 2px;
  border-bottom: 1px dotted;
  color: blue;
}

#gallery {
  cursor: move;
  display: none;
  position: absolute;
  z-index: 9999;
  width: auto;
  max-width: 600px;
  background-color: white;
  box-shadow: 10px 10px 50px rgba(0,0,0, .2);
  
  .close-btn {
    cursor: pointer;
    position: absolute;
    right: 0;
    background-color: black;
    display: none;
    span {
      display: block;
      padding: 8px;
      color: #ccc;
      font-size: 10px;
      &:hover {
        color: white;
      }
    }
  }

  .body {
    overflow: hidden;
    font-size: 0; /* remove the image gap */
    .img {
      width: 100%;
    }
  }
}

.map-open-btn {
  cursor: pointer;
  border-bottom: 1px dotted;
}

.post {
  &-container {
    position: relative;
    width: 100%; 
    padding-top: 30px;
  }
  
  &-content {
    position: relative;
    background-color: white;
    padding: 0 15px;
    box-sizing: border-box;
    color: black;
    line-height: 1.375;
    text-align: left;
    
    #post {
      max-width: 610px;
    }
    
    .bdhs {
      font-size: 80%;
      width: 320px;
      padding: 20px;
      box-sizing: border-box;
      float: right;
    }
    
    h1, h2, h3, h4, h5, h6 {
      margin-top: 0;
      margin-bottom: 20px;
      font-size: 22px;
    }
    
    p {
      margin: 20px 0;
    }
  }
  
  &-controls {
    padding: 0 25px;
    margin: 10px auto;
    text-align: left;
    button {
      cursor: pointer;
      border: none;
      position: relative;
      padding: 0;
      background-color: transparent;
      color: blue;
      border-bottom: 1px dotted;
    }
    #loading1 {
      background-color: black; 
      color: white; 
      font-size: 70%; 
      padding: 0 5px; 
      box-sizing: border-box;
    }
  }
}

@media only screen and (max-width: 600px) {
  .post-container {
    padding-top: 10px;
  }
  
  .post-content .bdhs {
    width: 100%;
    float: none;
  }
}
