---
layout: default
---
<div class="brand">
  <div>&copy;<strong>布袋豆腐</strong><sub>（2023-2024）</sub></div>
</div>
<div class="tofu">
<pre>
{% include tofu/about.html %}
{% include tofu/product/index.html %}
{% include tofu/sales/index.html %}
</pre>
</div>
<script>
;(function() {
  document.querySelectorAll('.collapse')
    .forEach(function(collapse) {
      var toggler = collapse.querySelector('.collapse-toggler');
      var body = collapse.querySelector('.collapse-body');
      
      toggler.onclick = function() {
        toggler.classList.toggle('active');
        body.classList.toggle('active');
      };
    });
})();
</script>



