---
permalink: posts.html
layout: null
---
<style type="text/css" media="screen">
body {
  font: 1em/1.675 simsun, simkai, kaiti, simhei, serif;
  letter-spacing: -0.035em;
}

a, a:hover, a:active, a:visited {
  color: blue;
}

rt {
  font-family: helvetica, arial, sans-serif;
  font-style: normal;
  letter-spacing: 0;
}

#container {
  max-width: 650px;
}

#post h3 {
  font-size: 180%;
}

button {
  color: blue;
  font-size: 115%;
  background-color: transparent;
  border: 0;
  border-bottom: 2px dotted;
  cursor: pointer;
}
</style>
<script>
window.request = function(options, onRequest, onSuccess) {
  var xhttp = new XMLHttpRequest();
  
  onRequest();
  
  xhttp.onreadystatechange = function() {
    if (this.readyState === 4 && this.status === 200) {
      onSuccess(this.responseText);
    }
  };
  
  xhttp.open(options.method, options.url, true);
  xhttp.send();
};
</script>

<div style="background-color: white; position: fixed; right: 0; bottom: 0; z-index: 9999;">&copy;<a href="/"><strong>布袋豆腐</strong></a><sup style="color: black; border: 0;">（2023-2024）</sup></div>

<div id="container">
<div style="font-size: 80%; text-align: center; float: right; width: 30%; margin: 20px;"><img src="/assets/img/Budai,_British_Museum.jpg" alt="布袋和尚，大英博物馆藏。" style="width: 100%;"><br><span>布袋和尚像，大英博物馆藏。</span></div>

<div id="post">
  {% for post in site.posts %}
    {% if post.title == "「布袋和尚」东土应化事迹" %}
      {{ post.content }}
    {% endif %}
  {% endfor %}
</div>
  
{% unless site.posts.size == 1 %}
  <div style="text-align: center;">
    <button id="btn-prev" type="button" title="上一条">◀</button>
    <button id="btn-next" type="button" title="下一条">▶</button>
    <div id="loading" style="display: none;">加载中...</div>
  </div>
{% endunless %}
</div>
<script>
  (function() {
    var btnPrev = document.getElementById('btn-prev');
    var btnNext = document.getElementById('btn-next');
    var post = document.getElementById('post');
    var loading = document.getElementById('loading');
    var postUrls = [];
    
    {% for post in site.posts %}
      postUrls.push("{{ post.url }}");
    {% endfor %}
    
    var postLength = postUrls.length;
    var currentPost = 0;
    var isFirstPost;
    var isLastPost;
    
    btnPrev.onclick = function(e) {
      e.preventDefault();
      
      isFirstPost = currentPost === 0;
      currentPost = isFirstPost ? (postLength - 1) : (currentPost - 1);
      
      request({
        method: 'GET',
        url: postUrls[currentPost]
      }, function() {
        loading.style.display = 'inline';
      },
      function(data) {
        post.innerHTML = data; 
        loading.style.display = 'none';
      });
    };

    btnNext.onclick = function(e) {
      e.preventDefault();
      
      isLastPost = currentPost === (postLength - 1);
      currentPost = isLastPost ?  0 : (currentPost + 1) ;
      
      request({
        method: 'GET',
        url: postUrls[currentPost]
      }, function() {
        loading.style.display = 'inline';
      },
      function(data) {
        post.innerHTML = data;
        loading.style.display = 'none';
      });
    };
  })();
</script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MVB3SC8YVX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MVB3SC8YVX');
</script>
