<!-- Amplitude Player -->
<div id="amplitude-player">
    <div id="amplitude-left">
        <img data-amplitude-song-info="cover_art_url" class="album-art"/>
        <div class="amplitude-visualization" id="large-visualization"></div>
        <div id="player-left-bottom">
        <div id="time-container">
            <span class="current-time">
            <span class="amplitude-current-minutes" ></span>:<span class="amplitude-current-seconds"></span>
            </span>
            <div id="progress-container">
            <div class="amplitude-wave-form"></div>
            <input type="range" class="amplitude-song-slider"/>
            <progress id="song-played-progress" class="amplitude-song-played-progress"></progress>
            <progress id="song-buffered-progress" class="amplitude-buffered-progress" value="0"></progress>
            </div>
            <span class="duration">
            <span class="amplitude-duration-minutes"></span>:<span class="amplitude-duration-seconds"></span>
            </span>
        </div>
        <div id="control-container">
            <div id="repeat-container">
            <div class="amplitude-repeat" id="repeat"></div>
            <div style="display: none!important;" class="amplitude-shuffle amplitude-shuffle-off" id="shuffle"></div>
            </div>
            <div id="central-control-container">
            <div id="central-controls">
                <div class="amplitude-prev" id="previous"></div>
                <div class="amplitude-play-pause" id="play-pause"></div>
                <div class="amplitude-next" id="next"></div>
            </div>
            </div>
            <div id="volume-container">
                <div class="volume-controls" style="display: none;">
                    <div class="amplitude-mute amplitude-not-muted"></div>
                    <input type="range" class="amplitude-volume-slider"/>
                    <div class="ms-range-fix"></div>
                </div>
                <div style="display: block!important;" class="amplitude-shuffle amplitude-shuffle-off" id="shuffle-right"></div>
            </div>
        </div>
        <div id="meta-container">
            <span data-amplitude-song-info="name" class="song-name"></span>
            <div class="song-artist-album">
            <span data-amplitude-song-info="artist"></span>
            <span data-amplitude-song-info="album"></span>
            </div>
        </div>
        </div>
    </div>
</div>

<script>
    let songElements = document.getElementsByClassName('song');
    
    for( var i = 0; i < songElements.length; i++ ) {
        songElements[i].addEventListener('mouseover', function(){
            this.style.backgroundColor = '#00A0FF';
            this.querySelectorAll('.song-meta-data .song-title')[0].style.color = '#FFFFFF';
            this.querySelectorAll('.song-meta-data .song-artist')[0].style.color = '#FFFFFF';
            if( !this.classList.contains('amplitude-active-song-container') ){
                this.querySelectorAll('.play-button-container')[0].style.display = 'block';
            }
            this.querySelectorAll('.song-duration')[0].style.color = '#FFFFFF';
        });
    
        songElements[i].addEventListener('mouseout', function(){
            this.style.backgroundColor = '#FFFFFF';
            this.querySelectorAll('.song-meta-data .song-title')[0].style.color = '#272726';
            this.querySelectorAll('.song-meta-data .song-artist')[0].style.color = '#607D8B';
            this.querySelectorAll('.play-button-container')[0].style.display = 'none';
            this.querySelectorAll('.song-duration')[0].style.color = '#607D8B';
        });
    
        songElements[i].addEventListener('click', function(){
            this.querySelectorAll('.play-button-container')[0].style.display = 'none';
        });
    }
    
    Amplitude.init({
      "songs": [
             {
                "name": "布袋豆腐歌",
                "artist": "SUNO AI",
                "album": "布袋豆腐歌",
                "url": "https://fastly.jsdelivr.net/gh/budaipro/assets@latest/audio/1714647425276ljp0hut2 full.mp3",
                "cover_art_url": "https://fastly.jsdelivr.net/gh/budaipro/assets@latest/amplitude/cover.png"
            },
            {
                "name": "布袋豆腐歌 trance版",
                "artist": "SUNO AI",
                "album": "布袋豆腐歌",
                "url": "https://fastly.jsdelivr.net/gh/budaipro/assets@latest/audio/%E5%B8%83%E8%A2%8B%E8%B1%86%E8%85%90%E6%AD%8C_trance.mp3",
                "cover_art_url": "https://fastly.jsdelivr.net/gh/budaipro/assets@latest/amplitude/cover.png"
            },
            {
                "name": "布袋豆腐歌 rock版",
                "artist": "SUNO AI",
                "album": "布袋豆腐歌",
                "url": "https://fastly.jsdelivr.net/gh/budaipro/assets@latest/audio/%E5%B8%83%E8%A2%8B%E8%B1%86%E8%85%90%E6%AD%8C_rock.mp3",
                "cover_art_url": "https://fastly.jsdelivr.net/gh/budaipro/assets@latest/amplitude/cover.png"
            }
      ],
      
      "callbacks": {
        'play': function() {
            document.getElementById('album-art').style.visibility = 'hidden';
            document.getElementById('large-visualization').style.visibility = 'visible';
        },
    
        'pause': function() {
            document.getElementById('album-art').style.visibility = 'visible';
            document.getElementById('large-visualization').style.visibility = 'hidden';
        }
      },
    
      waveforms: {
        sample_rate: 50
      }
    });
    </script>
