<div id="gallery">
  <div class="loading2" style="position: absolute; left: 0; top: 0; background-color: black; color: white; font-size: 70%; padding: 0 5px; width: 58px;"></div>
  <div>
    <span class="close-btn"><span>╳</span></span>
  </div>
  <div class="body"><img class="img"></div>
</div>
<script>
;(function() {
    var gallery = document.getElementById('gallery');
    var closeBtn = gallery.querySelector('.close-btn');
    var loading2 = gallery.querySelector('.loading2');
    var body = gallery.querySelector('.body');
    var img = gallery.querySelector('.img');
    
    document.querySelectorAll('.gallery-open-btn')
      .forEach(function(btn) {
        btn.onclick = function(e) {
          var src = this.dataset.src;
          var alt = this.dataset.alt;
          var width = this.dataset.width;
        
          if (img.src) {
            img.src = '';
            img.alt = '';
            gallery.style.display = 'none';
            closeBtn.style.display = 'none';
          }

          gallery.style.left = e.pageX + 'px';
          gallery.style.top = e.pageY + 'px';
          gallery.style.display = 'block';
          
          loading2.innerHTML = '加载中...';
          
          img.onload = function() {
            loading2.innerHTML = '';
            closeBtn.style.display = 'inline-block';
          }
         
          img.src = src;
          img.alt = alt;
          img.style.width = width ? width : '100%';
        };
      });
    
    closeBtn.onclick = function() {
      gallery.style.display = 'none';
      closeBtn.style.display = 'none';
      img.src = '';
      img.alt = '';
      img.style.width = '';
    };
    
    // draggable gallery
    draggable(gallery);
  })();
</script>
