<nav class="navigation-icons">
  <a {%- if page.url == '/' -%} class="navigation-icon active"{%- else -%} class="navigation-icon"{%- endif -%} href="/">
    <img src="https://gcore.jsdelivr.net/gh/budaipro/assets/img/ico/home_16.png" alt="">
    <span>主页</span>
  </a>
  <a class="navigation-icon {%- if page.url == '/tofu' -%} active{%- endif -%}" href="/tofu">
    <img src="https://gcore.jsdelivr.net/gh/budaipro/assets/img/ico/help_16.png" alt="">
    <span>产品</span>
  </a>
  <a class="navigation-icon {%- if page.url == '/about' -%} active{%- endif -%}" href="/about">
    <img src="https://gcore.jsdelivr.net/gh/budaipro/assets/img/ico/question_16.png" alt="">
    <span>关于</span>
  </a>
  <vr></vr>
  <a class="navigation-icon {%- if page.url == '/buddha' -%} active{%- endif -%}" href="/buddha">
    <img src="https://gcore.jsdelivr.net/gh/budaipro/assets/img/ico/warning_circle_16.png" alt="">
    <span>布袋和尚简介</span>
  </a>
</nav>
