---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

* {
  box-sizing: border-box;
}

body {
  font: 15px/1.185 'dejavu sans mono', dengxian, simsun, simhei, serif;
  margin: 0;
  background-color: transparent;
}

a, a:hover, a:active, a:visited {
  color: blue;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

sup, sub {
  font-size: 85%;
  position: relative;
}

sup {
  vertical-align: top;
  top: -4px;
}

sub {
  vertical-align: bottom;
  bottom: -4px;
}

rt {
  font-family: helvetica, arial, sans-serif;
  font-style: normal;
  letter-spacing: 0;
}
  
abbr {
  cursor: help;
}

dfn {
  border-bottom: 1px dotted;
  cursor: help;
}

pre {
  font: 15px/1.185 'dejavu sans mono', menlo, consolas, dengxian, simsun, simhei, serif;
  white-space: pre;
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  div {
    display: inline;
  }
}

.hide {
  display: none;
}

.wrapper {
  width: inherit;
  max-width: inherit;
  padding-left: 0;
  padding-right: 0;
}

.collapse {
  display: inline;
  
  .collapse-toggler {
    cursor: pointer;
    color: blue;
    text-decoration: none;
    &.active {
      font-weight: bold;
    }
    
    + abbr {
      font-size: 85%;
    }
  }
  
  .collapse-body {
    display: none/* inline */;
    &.active {
      display: inline;
    }
  }
}

.site-header {
  font-family: dengxian, simsun, simhei, serif;
  text-align: center;
  width: 100%;
  padding: 20px 0;
  /* reset minima theme style */
  min-height: auto;
  border-top: none;
  border-bottom: none;
  /* end reset */
  
  .site-title {
    display: block;
    font-size: 1.375rem;
    font-weight: 700;
    line-height: inherit;
    letter-spacing: 0;
    float: none;
    margin-bottom: 10px;
  }
}

.page-content {
  padding: 0;
}

.site-footer {
  text-align: center;
  padding: 20px 0;
  border-top: none;
  
  a {
    text-decoration: underline;
  }
}

.tofu {
}

.bg-gallery {
  width: 100%;
  z-index: -1;
  overflow-x: hidden;

  &-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
  }
  
  a {
  }

  img {
    align-self: center;
    width: 20%;
    height: auto;
  }
}

.gallery-open-btn {
  color: blue;
  margin-left: 2px;
  border-bottom: 1px dotted;
  position: relative;
  cursor: pointer;
}

.buddha {
  font-size: 18px;
  line-height: 1.585;
  letter-spacing: -0.0325em;
  padding: 10px;

  button {
    display: inline-block;
    color: blue;
    background-color: transparent;
    border: 0;
    border-bottom: 1px dotted;
    cursor: pointer;
  }
}

@media screen and (max-width: 800px) {
  .bg-gallery img {
    width: 45%;
  }
}
