---
# Only the main Sass file needs front matter (the dashes are enough)
---

* {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: grayscale;
  font-family: "MS Sans Serif",simsun, simhei, dengxian, sans-serif;
  font-size: 8pt;
  color: #000;
  margin: 0;
  /*background-color: #3A6EA5;*/
}

a, a:hover, a:active, a:visited {
  color: blue;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: 'Arial', sans-serif
}

h1 {
    font-size: 14pt;
    font-weight: bold;
}

h2 {
    font-size: 12pt;
    font-weight: bold;
    font-style: italic;
}

h3 {
    font-size: 12pt;
    font-weight: normal;
}

vr {
  border-left: 1px solid gray;
  border-right: 1px solid #fff;
  margin: 2px 3px;
}

hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #7f7f7f;
    border-bottom: 1px solid #fff;
}

sup, sub {
  font-size: 85%;
  position: relative;
}

sup {
  vertical-align: top;
  top: -4px;
}

sub {
  vertical-align: bottom;
  bottom: -4px;
}

rt {
  font-family: helvetica, arial, sans-serif;
  font-style: normal;
  letter-spacing: 0;
}
  
abbr {
  cursor: help;
}

dfn {
  border-bottom: 1px dotted;
  cursor: help;
}

pre {
  font: 10pt/1.185 'dejavu sans mono', menlo, consolas, simsun, simhei, dengxian, serif;
  white-space: pre;
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  box-shadow: none;
  background-color: transparent;
}

.balloon {
    background-color: #ffffe1;
    border: black 1px solid;
    border-radius: 8px;
    padding: 9px 12px;
    margin-block-start:1em;margin-block-end:1em}

.balloon-header {
    display: flex;
    margin-bottom: 8px
}

.balloon-title {
    font-weight: bold
}

.balloon-icon {
    margin-right: 9px
}

.container {
}

.window {
    /*box-shadow: inset -1px -1px #000,inset 1px 1px silver,inset -2px -2px gray,inset 2px 2px #fff;*/
    font-size: 11px;
    background: silver;
}

.title-bar {
    font-size: 11px;
    background: linear-gradient(90deg, navy, #1084d0);
    padding: 3px 2px 3px 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-bar-text {
    font-weight: bold;
    color: #fff;
    letter-spacing: 0;
    margin-right: 24px;
}

.window-body {
}

.navigation-icons {
    display: flex;
    padding: 2px;
}

.navigation-icons a,
.navigation-icons a:link {
    color: #000!important;
    text-decoration: none;
}

.navigation-icon {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 50px;
    min-height: 36px;
    padding: 4px;
    cursor: pointer;
}

.navigation-icon:hover {
    box-shadow: inset -1px -1px #000,inset 1px 1px #fff;
}

.navigation-icon:active {
    box-shadow: inset -1px -1px #fff,inset 1px 1px gray;
}

.navigation-icon img {
    image-rendering: crisp-edges;
    width: 16px;
    height: 16px;
    margin: 0 auto 4px auto;
}

.navigation-icon:not(:hover) img {
    filter: grayscale(1);
}

.inset {
    border: none;
    margin: 0;
    background: #fff;
}

.document {
    font-family: 'Times New Roman', Times, serif;
    font-size: 10pt;

    .document-content {
        padding: 10px;
    }
}

.collapse {
  display: inline;
  
  .collapse-toggler {
    cursor: pointer;
    color: blue;
    text-decoration: none;
    &.active {
      font-weight: bold;
    }
    
    + abbr {
      font-size: 85%;
    }
  }
  
  .collapse-body {
    display: none/* inline */;
    &.active {
      display: inline;
    }
  }
}

.tofu {
}

figure img {
  width: 230px;
}

.gallery-open-btn {
  color: blue;
  margin-left: 2px;
  border-bottom: 1px dotted;
  position: relative;
  cursor: pointer;
}

.buddha {
  letter-spacing: -0.0325em;
  padding: 10px;

  button {
    display: inline-block;
    color: blue;
    background-color: transparent;
    border: 0;
    border-bottom: 1px dotted;
    cursor: pointer;
  }
}

@media screen and (max-width: 800px) {
}
