  ├ <div class="collapse"><span class="collapse-toggler active" data-toggle="collapse">自营</span><div class="collapse-body active">
  │ ├ <div class="collapse"><span class="collapse-toggler" data-toggle="collapse">大理古城</span><div class="collapse-body">
  │ │ └ <em>暂无...</em></div></div>
  │ ├ 银桥（头铺村）
  │ └ <div class="collapse"><span class="collapse-toggler" data-toggle="collapse">在线</span><div class="collapse-body">
  │   └ 邮费需自理
  │     ├ 云南省
  │     ├ 四川省
  │     └ 其他省市及地区<span class="hot">邮费较高</span>
  │       └ 需邮寄请与我们联系沟通。</div></div>
  │</div></div>