   ├ <div class="collapse"><span class="collapse-toggler active" data-toggle="collapse">自营</span><div class="collapse-body active">
   │ ├ <div class="collapse"><span class="collapse-toggler" data-toggle="collapse">大理古城</span><div class="collapse-body">
   │ │ └ <em>敬请期待...</em></div></div>
   │ ├ 银桥（头铺村）
   │ └ <div class="collapse"><span class="collapse-toggler" data-toggle="collapse">线上</span><div class="collapse-body">
   │    └ 目前支持地区
   │       ├ 云南
   │       ├ 四川
   │       └ 重庆
   │          └ 请加我们的微信：<span class="gallery-open-btn fontsize-normal no-ml" data-src="/assets/img/qrcode.png" data-alt="悟文的微信二维码" title="点击查看二维码">bdspjgf</span>，与我们联系。</div></div>
   │</div></div>