  └ <div class="collapse"><span class="collapse-toggler active" data-toggle="collapse">经销商</span><div class="collapse-body active"> 
    ├ 当前
    │ ├ 素方舟
    │ ├ 一沐坤（三塔路）
    │ └ <span class="muted">大昌盛超市（叶榆路店）<sup>即将上线</sup></span>
    │
    └ <div class="collapse"><span class="collapse-toggler" data-toggle="collapse">计划</span><div class="collapse-body">
      └ 我们也期望在以下地区销售，有意者请与我们联系。<div class="muted">
        ├ 喜洲
        ├ <div class="collapse"><span class="collapse-toggler" data-toggle="collapse">大理古城</span><div class="collapse-body">
        │ └ 人民路/复兴路</div></div>
        └ <div class="collapse"><span class="collapse-toggler" data-toggle="collapse">下关</span><div class="collapse-body">
          └ 大关邑</div></div><!-- muted --></div></div></div>