│ ├ <div class="collapse"><span class="collapse-toggler" data-toggle="collapse">豆干</span><em class="hot">⇠<abbr  title="主打产品">主打</abbr></em><div class="collapse-body">
│ │ ├ <div class="collapse"><span class="collapse-toggler" data-toggle="collapse">基本信息</span><div class="collapse-body">
│ │ │ ├ 成分：黄豆<sub>非转</sub>、饮用水、海盐<sub>无碘</sub>等。
│ │ │ └ 保鲜期：4～2℃冷藏达5～7天。
│ │ │</div></div>
│ │ └ 袋装<sup class="gallery-open-btn pic" data-src="/assets/img/a/01.jpg" data-alt="袋装豆干" title="点击查看图片">图片</sup>
│ │    ├ 重量：500克。
│ │    └ 售价：12元/袋。
│ │</div></div>