├ <div class="collapse"><span class="collapse-toggler active" data-toggle="collapse">产品</span><sub class="pic">（<a href="/gallery.html" target="_blank">图库</a>）</sub><div class="collapse-body active">
{% include tofu/product/a.html %}
│ └ <div class="collapse"><span class="collapse-toggler active" data-toggle="collapse">其他</span><div class="collapse-body active">
{% include tofu/product/b/a.html %}
{% include tofu/product/b/b.html %}
{% include tofu/product/b/c.html %}</div></div>
│</div></div>