<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    
    <div class="container" aria-label="Content">
      {%- unless page.url == "/inn" -%}
        <div class="title-bar">
          <a href="/" style="color: white; text-decoration: none;"><strong class="title-bar-text">{{ site.title | escape }}</strong></a>
        </div>
      {%- endunless -%}
 
      {%- unless page.url == "/inn" or page.url == "/hezu" -%}
        {%- include nav.html -%}
      {%- endunless -%}

      <div class="content">
        {{ content }}
      </div>

      {%- unless page.url == "/launch" -%}
        <div style="padding: 0 10px;">&copy; 布袋豆腐</div>
      {%- endunless -%}
    </div>
  </body>

</html>
