<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    
    <div class="container">
      <div class="window" aria-label="Content">
        {%- unless page.url == "/inn" -%}
        <div class="title-bar">
          <strong class="title-bar-text">{{ site.title | escape }}</strong>
        </div>
        {%- endunless -%}
        <div class="window-body">
          {%- if (page.url != "/launch" && page.url != "/inn") -%}{%- include nav.html -%}{%- endif -%}
          <div class="document-container">
            <div class="document-cell">
              <div class="inset">
                <div class="document">
                  <div class="document-content">
                    {{ content }}
                  </div>
                  <div style="padding: 0 10px;">&copy; 布袋豆腐</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>

</html>
