<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">
  <script>
  function request(options, onRequest, onSuccess) {
    var xhttp = new XMLHttpRequest();
    
    onRequest();
    
    xhttp.onreadystatechange = function() {
      if (this.readyState === 4 && this.status === 200) {
        onSuccess(this.responseText);
      }
    };
    
    xhttp.open(options.method, options.url, true);
    xhttp.send();
  };
  
  function draggable(el) {
      var pos1, pos2, pos3, pos4;
      
      el.onmousedown = dragMouseDown;
      
      function dragMouseDown(e) {
        e.preventDefault();
        
        pos3 = e.clientX;
        pos4 = e.clientY;
        
        document.onmouseup = closeDrag;
        document.onmousemove = drag;
      };
      
      function drag(e) {
        e.preventDefault();
        
        pos1 = pos3 - e.clientX;
        pos2 = pos4 - e.clientY;
        pos3 = e.clientX;
        pos4 = e.clientY;
        
        el.style.top = (el.offsetTop - pos2) + 'px';
        el.style.left = (el.offsetLeft - pos1) + 'px';
      };
      
      function closeDrag() {
        document.onmouseup = null;
        document.onmousemove = null;
      };
    };
  </script>
</head>
<body>
  <div id="app">
    <div>{{ content }}</div>
    {% include gallery.html %}
    {% include posts.html %}
  </div>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-MVB3SC8YVX"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-MVB3SC8YVX');
  </script>
</body>
<html>
