<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <style>
        body {
            font: 11pt/1.185 arial, simsun, dengxian, sans-serif;
        }

        a, a:hover, a:active, a:visited {
            color: blue;
            text-decoration: underline;
        }

        .container {
            max-width: 650px;
        }
    </style>
  </head>
  <body>
    <div class="container">
        <div><a href="/mytests">&lt;&lt;返回</a></div>
        {{ content }}
    </div>
  </body>
</html>